html, body {
	max-width: 100%;
	overflow-x: hidden;
	background-color: #fff!important;
}

.rep-profile {
  display: block;
  text-decoration: none;
  color: #333333;
}

.rep-profile img {
  width: 90px;
  height: 90px;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 0 15px 0;
  border-radius: 50%;
}

.rep-profile p {
  padding-left: 7px;
  line-height: 20px;
}

.rep-profile .rep-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.lead {
  font-weight: 500!important;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
	font-family: 'Montserrat';
	font-weight: 600;
	color: #333;
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin-top: 0;
	margin-bottom: .5rem;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


.aboutsocial i, .footersocial i {
	color:white;
}

.footersocial .fa-telegram:hover, .footersocial .fa-twitter:hover, .footersocial .fa-youtube:hover, .footersocial .fa-facebook:hover, .footersocial .fa-medium:hover, .footersocial .fa-reddit:hover {
	color: #ddd;
}
.footer {
	border-top: 0!important;
}

.newsbtn {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	background-color: #1aaaba;
	color: white;
	border: 1px solid white;
	width:40px;
	height:34px;
}

.newsbtn:hover {
	background-color:white;
	color: #1aaaba;
}

.aboutfooter {
	font-family: 'Montserrat'!important;
	font-size: 14px;
	line-height: 1.8;
}
.aboutfooter a {
	color: white!important;
}

.aboutfooter a:hover {
	text-decoration: underline;
}

.hero-wrap {
	position: absolute;
	top: 20%;
	left: 20%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.hero-wrap {
		position: absolute;
		top: 10%;
		left: 0px;
		padding: 20px;
	}
}

@media only screen  and (min-width : 1824px) {
	.hero-wrap {
		position: absolute;
		top: 20%;
		left: 30%;
	}
}

.screen0-5 .wrap-holder {min-height: 761px; padding: 100px 0 130px; color:#fff;}
.screen0-5 .wrap-holder .pre-title {font-size:20px;margin-bottom:30px;}
.screen0-5 .wrap-holder .title {line-height:35px;}
.screen0-5 .wrap-holder .title span {font-size:28px;font-weight:700;}
.screen0-5 .wrap-holder .txt {margin: 40px 0 32px 0;}
.marginAll > li:not(:first-child){margin-left: -5px;}
.marginAll .marginL, .marginAll .marginR{width: 8%; vertical-align: top;/* background: rgba(0,0,0,0.3);*/ height: 20px;}
.marginAll .marginC{width: 84%; position: relative; /*background: rgba(0,0,0,0.5);*/}
.content-wrap li{display: inline-block; vertical-align: top;}

.btn-holder {}
[class ^="btn-type"] {display: inline-block; color: #fff; background-color: #404040 ; cursor: pointer; font-size: 16px; padding: 9px 30px;}

.btn-type-white{ border: none; background: #fff; padding: 10px 20px; color: #262626; border: 1px solid #262626;}
.btn-type-white:hover{ background: #262626; color: #fff;}
.btn-type-white.no:hover {background: #fff;  color: #262626; }

.hero-main-title {
	font-size: 35px;
	font-weight: 700;
	color: #fff;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.hero-main-title {
		padding-top: 10px;
		padding-left: 10px;
		font-size: 22px;
		font-weight: 799;
		text-align: center;
		color: #fff;
	}
}
.hero-sub-title {
	line-height: 35px;
	color: #fff;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.hero-sub-title{
		padding-left: 10px;
	}
}


.hero-links {
  margin: 1.5rem 0;
}

.hero-links a {
  display: inline-block;
  vertical-align: middle;
	text-align: center;
  text-decoration: none;
  color: #F2F4F9;
  border: solid 2px #F2F4F9;
  font-size: 1.15rem;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50%;
  margin-right: 10px;
}

.hero-links a:last-child {
  margin-right: 0;
}

.hero-links a:hover, .hero-links a:focus, .hero-links a:active {
  background-color: #F2F4F9;
  color: #1aaaba;
}

.stayupdated{
  text-align: center;
}

.stayupdated .form-inline{
  justify-content: center;
}

.stayupdated .footersocial{
  justify-content: center;
}

.sub-input-form{
    width: 300px;
    padding: 8px;
}

.sub-input-button{
  background-color: #333333;
    font-weight: bold;
  border: none;
  color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  cursor: pointer;
}


.btn {
    border: none;
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 4px 1px;
    border-radius: 0.3285rem;
    background-size: 210% 210%;
    background-position: top right;
    padding: 11px 40px;
    font-size: 0.875rem;
    line-height: 1.35em;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 140px;
    box-shadow: none;
    transition: all 0.15s ease;
}

.btn.btn-primary {
    background-image: linear-gradient(to bottom left, #1aaaba, #1a8b9b, #1aaaba);
    background-color: #1aaaba;
    color: #ffffff!important;
    font-size: 20px;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}