html {
  font-size: 62.5%;
}

/* Circle navigation */
.circle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-top: -120vw;
  margin-left: -90vw;
  width: 180vw;
  height: 180vw;

  @media only screen and (min-device-width: 640px) {
    margin-top: -140vw;
    left: 575px;
  }

  @media only screen and (min-device-width: 640px) { // desktop?
    left: 50%;
  }

  @media only screen and (min-device-width: 640px) {
    top: 50%;
    margin-top: -55vw;
    width: 110vw;
    height: 110vw;
    margin-left: 0;
  }

  &[data-active] {
    &:after {
      z-index: 7;
      opacity: 1;
      transition: opacity 0.4s 0.2s cubic-bezier(0.55, 0, 0.1, 1), transform 0.8s cubic-bezier(0, 1, 0, 1);
    }

    .circle-nav-slides {
      &:after {
        opacity: 0;
      }
    }
  }

  .circle-nav-outline {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    fill: none;
    stroke: orange;
    stroke-width: 1;
    stroke-dasharray: 4;
    stroke-dashoffset: 3130;
    transition: margin 0.8s cubic-bezier(0.25, 0.74, 0.22, 0.99);
  }

  &.circle-nav-initial {
    .circle-nav-outline {
      transition: stroke-dashoffset 2.4s linear;
    }
  }

  &.circle-nav-ready {
    .circle-nav-outline {
      top: -10px;
      left: -10px;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      stroke-dashoffset: 0;
    }
  }

  .circle-nav-slides {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    z-index: 3;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #53c5f2;
      transition: opacity 0.8s cubic-bezier(0.55, 0, 0.1, 1);
      border-radius: 100%;
    }

    .circle-nav-slide {
      z-index: -1;
      opacity: 0;
      transition: opacity 0.8s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .circle-nav-slide-img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;

      .img {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 100% 50%;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        opacity: 0;
        animation-play-state: paused;
        animation: circle-slide-zoom-development 10s linear infinite alternate;
        transition: opacity 0.8s ease-in-out;
      }
    }
  }

  .circle-nav-items {
    list-style: none;
    padding-left: 0;
    counter-reset: circle-nav;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    z-index: 11;

    @media only screen and (min-device-width: 768px) {
      font-size: 2rem;
    }

    .circle-nav-item {
      counter-increment: circle-nav;
      position: absolute;
      z-index: 10;
      /*top: 50%;
      left: 50%;*/
      padding: 20px;
      white-space: nowrap;
      opacity: 1;
      cursor: pointer;
      border-radius: 50%;
      border: 2px dashed #1aaaba;
      width: 8rem;
      height: 8rem;
      margin: -4rem;
      transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);

      @media only screen and (min-device-width: 768px) {
        width: 10rem;
        height: 10rem;
        margin: -5rem;
      }

      @media only screen and (min-device-width: 1248px) {
        width: 12rem;
        height: 12rem;
        margin: -6rem;
      }

      &.active, &:hover {
        color: #000;
      }

      a, a:hover {
        text-decoration: none;
      }

      &:hover {
        .circle-nav-name {
          opacity: 0.5;
        }
      }

      &.active {
        .circle-nav-name {
          font-size: 1.4rem;
          font-weight: 700;
          color: #53c5f2;

          @media only screen and (min-device-width: 768px) {
            font-size: 2.5rem;
          }
        }
      }

      .circle-nav-name {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        font-size: 1.3rem;
        font-weight: 400;
        opacity: 1;
        transition: font-size 0.4s cubic-bezier(0.25, 0.74, 0.22, 0.99), font-weight 0.4s cubic-bezier(0.25, 0.74, 0.22, 0.99), opacity 0.2s cubic-bezier(0.47, 0.04, 0.5, -0.06);
      }
    }
  }

  /* Active state for button 1 */
  &[data-active="0"] {
    .circle-nav-slide-img {
      &:nth-child(1) {
        .img {
          opacity: 1;
          animation-play-state: running;
        }
      }
    }

    .circle-nav-item {
      @media (max-width: 767px) and (orientation: portrait) {
        &:nth-child(1) {
          top: 105%;
          left: 50%;
        }
        &:nth-child(2) {
          top: 103%;
          left: 65%;
        }
        &:nth-child(3) {
          top: 96%;
          left: 79%;
        }
        &:nth-child(4) {
          top: 86%;
          left: 91%;
        }
      }

      @media (min-width: 768px) {
        &:nth-child(1) {
          top: 50%;
          left: -4%;
        }
        &:nth-child(2) {
          top: 65%;
          left: -2%;
        }
        &:nth-child(3) {
          top: 79%;
          left: 5%;
        }
        &:nth-child(4) {
          top: 91%;
          left: 15%;
        }
      }

      @media (min-width: 1024px) {
        &:nth-child(1) {
          left: -3%;
        }
        &:nth-child(2) {
          top: 61%;
          left: -1.5%;
        }
        &:nth-child(3) {
          top: 71.5%;
          left: 2%;
        }
        &:nth-child(4) {
          top: 81%;
          left: 7.5%;
        }
      }

      @media (min-width: 1440px) {
        &:nth-child(1) {
          left: -2.5%;
        }
        &:nth-child(2) {
          top: 60%;
        }
        &:nth-child(3) {
          top: 69.5%;
          left: 1.5%;
        }
        &:nth-child(4) {
          top: 78%;
          left: 6%;
        }
      }

      @media (min-width: 1740px) {
        &:nth-child(1) {
          left: -2.5%;
        }
        &:nth-child(2) {
          top: 59%;
        }
        &:nth-child(3) {
          top: 68%;
          left: 1%;
        }
        &:nth-child(4) {
          top: 76.5%;
          left: 5%;
        }
      }

      @media (min-width: 2150px) {
        &:nth-child(1) {
          left: -1.5%;
        }
        &:nth-child(2) {
          top: 59%;
          left: -1%;
        }
        &:nth-child(3) {
          top: 68%;
          left: 1.5%;
        }
        &:nth-child(4) {
          top: 76.5%;
          left: 6%;
        }
      }
    }
  }

  /* Active state for button 2 */
  &[data-active="1"] {
    .circle-nav-slide-img {
      &:nth-child(2) {
        .img {
          opacity: 1;
          animation-play-state: running;
        }
      }
    }

    .circle-nav-item {
      @media (max-width: 767px) and (orientation: portrait) {
        &:nth-child(1) {
          top: 103%;
          left: 35%;
        }
        &:nth-child(2) {
          top: 105%;
          left: 50%;
        }
        &:nth-child(3) {
          top: 103%;
          left: 65%;
        }
        &:nth-child(4) {
          top: 96%;
          left: 79%;
        }
      }

      @media (min-width: 768px) {
        &:nth-child(1) {
          top: 34%;
          left: -1%;
        }
        &:nth-child(2) {
          top: 50%;
          left: -4%;
        }
        &:nth-child(3) {
          top: 65%;
          left: -2%;
        }
        &:nth-child(4) {
          top: 79%;
          left: 5%;
        }
      }

      @media (min-width: 1024px) {
        &:nth-child(1) {
          top: 38%;
          left: -1%;
        }
        &:nth-child(2) {
          left: -3%;
        }
        &:nth-child(3) {
          top: 61%;
          left: -1.5%;
        }
        &:nth-child(4) {
          top: 71.5%;
          left: 2%;
        }
      }

      @media (min-width: 1440px) {
        &:nth-child(1) {
          top: 40%;
          left: -2%;
        }
        &:nth-child(2) {
          left: -3%;
        }
        &:nth-child(3) {
          top: 60%;
          left: -2%;
        }
        &:nth-child(4) {
          top: 69.5%;
          left: 1%;
        }
      }

      @media (min-width: 1740px) {
        &:nth-child(1) {
          left: -1%;
        }
        &:nth-child(2) {
          left: -2%;
        }
        &:nth-child(3) {
          left: -1%;
        }
        &:nth-child(4) {
          left: 1.5%;
        }
      }

      @media (min-width: 2150px) {
        &:nth-child(1) {
          left: -1%;
        }
        &:nth-child(2) {
          left: -2%;
        }
        &:nth-child(3) {
          left: -1%;
        }
        &:nth-child(4) {
          left: 1.5%;
        }
      }
    }
  }

  /* Active state for button 3 */
  &[data-active="2"] {
    .circle-nav-slide-img {
      &:nth-child(3) {
        .img {
          opacity: 1;
          animation-play-state: running;
        }
      }
    }

    .circle-nav-item {
      @media (max-width: 767px) and (orientation: portrait) {
        &:nth-child(1) {
          top: 97%;
          left: 21%;
        }
        &:nth-child(2) {
          top: 103%;
          left: 35%;
        }
        &:nth-child(3) {
          top: 105%;
          left: 50%;
        }
        &:nth-child(4) {
          top: 103%;
          left: 65%;
        }
      }

      @media (min-width: 768px) {
        &:nth-child(1) {
          top: 19%;
          left: 6%;
        }
        &:nth-child(2) {
          top: 34%;
          left: -1%;
        }
        &:nth-child(3) {
          top: 50%;
          left: -4%;
        }
        &:nth-child(4) {
          top: 65%;
          left: -2%;
        }
      }

      @media (min-width: 1024px) {
        &:nth-child(1) {
          top: 26%;
          left: 3%;
        }
        &:nth-child(2) {
          top: 38%;
          left: -1%;
        }
        &:nth-child(3) {
          left: -3%;
        }
        &:nth-child(4) {
          top: 62%;
          left: -1.5%;
        }
      }

      @media (min-width: 1440px) {
        &:nth-child(1) {
          top: 30%;
          left: 1%;
        }
        &:nth-child(2) {
          top: 40%;
          left: -2%;
        }
        &:nth-child(3) {
          left: -3%;
        }
        &:nth-child(4) {
          top: 60%;
          left: -2%;
        }
      }

      @media (min-width: 1740px) {
        &:nth-child(1) {
          left: 2%;
        }
        &:nth-child(2) {
          left: -1%;
        }
        &:nth-child(3) {
          left: -2%;
        }
        &:nth-child(4) {
          left: -1%;
        }
      }

      @media (min-width: 2150px) {
        &:nth-child(1) {
          left: 2%;
        }
        &:nth-child(2) {
          left: -1%;
        }
        &:nth-child(3) {
          left: -2%;
        }
        &:nth-child(4) {
          left: -1%;
        }
      }
    }
  }

  /* Active state for button 4 */
  &[data-active="3"] {
    .circle-nav-slide-img{
      &:nth-child(4) {
        .img {
          opacity: 1;
          animation-play-state: running;
        }
      }
    }

    .circle-nav-item {
      @media (max-width: 767px) and (orientation: portrait) {
        &:nth-child(1) {
          top: 97%;
          left: 5%;
        }
        &:nth-child(2) {
          top: 97%;
          left: 21%;
        }
        &:nth-child(3) {
          top: 103%;
          left: 35%;
        }
        &:nth-child(4) {
          top: 105%;
          left: 50%;
        }
      }

      @media (min-width: 768px) {
        &:nth-child(1) {
          top: 7%;
          left: 17%;
        }
        &:nth-child(2) {
          top: 19%;
          left: 6%;
        }
        &:nth-child(3) {
          top: 34%;
          left: -1%;
        }
        &:nth-child(4) {
          top: 50%;
          left: -4%;
        }
      }

      @media (min-width: 1024px) {
        &:nth-child(1) {
          top: 15%;
          left: 10%;
        }
        &:nth-child(2) {
          top: 26%;
          left: 3%;
        }
        &:nth-child(3) {
          top: 38%;
          left: -1%;
        }
        &:nth-child(4) {
          left: -3%;
        }
      }

      @media (min-width: 1440px) {
        &:nth-child(1) {
          top: 20.5%;
          left: 6.5%;
        }
        &:nth-child(2) {
          top: 30%;
          left: 1%;
        }
        &:nth-child(3) {
          top: 40%;
          left: -2%;
        }
        &:nth-child(4) {
          left: -3%;
        }
      }

      @media (min-width: 1740px) {
        &:nth-child(1) {
          left: 6%;
        }
        &:nth-child(2) {
          left: 2%;
        }logo-link
        &:nth-child(3) {
          left: -1%;
        }
        &:nth-child(4) {
          left: -2%;
        }
      }

      @media (min-width: 2150px) {
        &:nth-child(1) {
          left: 6%;
        }
        &:nth-child(2) {
          left: 2%;
        }
        &:nth-child(3) {
          left: -1%;
        }
        &:nth-child(4) {
          left: -2%;
        }
      }
    }
  }

}

.ie .circle-nav-slides .circle-nav-slide-img .img {
  -webkit-animation: circle-slide-zoom-development-ie 10s linear infinite alternate;
  animation: circle-slide-zoom-development-ie 10s linear infinite alternate;
}